body {
  background-color: pink;
}

.main-container {
  max-width: 500px;
}

.container-icons {
  display: flex;
  justify-content: space-evenly;
  padding: 0;
  margin: 0 auto;
}

li {
  list-style-type: none;
}

button {
  border: 1px solid transparent;
  padding: 20px;
  border-radius: 50%;
  background: white;
}